<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/navbar %>
</head>
<body>
<body class="main" style="margin-top: 10vh;">
	<div class="page-header text-center">
		<h1><span class="fa"></span>Classes Needed</h1>
	</div>

	<ul class="list-group">

	<% for (var i=0; i<classes_needed.length; i++) { %>
	<div class="list-group-item col-md-10 col-md-push-1 col-md-pull-1">
		<div class="row">
			<div class="col-md-4">
				<h4><%= classes_needed[i]._name %></h4>
			</div> <!--- .col ---!>
			<div class="col-md-3 pull-right">
				<h4 class="text-right"><%= classes_needed[i]._subject %> <%=classes_needed[i]._courseNumber %></h4>
			</div> <!--- .col ---!>
		</div> <!--- .row ---!>

		<% if (classes_needed[i]._preRequisites.length > 0) { %>
			<div class="row">
				<p class="col-md-push-1 col-md-10 text-justify">
					Prerequisites:
					<%= classes_needed[i]._preRequisites %>
				</p> <!--.col -->
			</div>
		<% } %>

		<div class="row">
			<p class="col-md-10 text-justify col-md-push-1">
				<%= classes_needed[i]._description %>
			</p> <!--.col -->
		</div><!-- row --> 
	</div> <!-- list-group-item col-md-10 col-md-push-1 col-md-pull-1 -->
	<% } %>

	</ul> <!-- listgroup -->
</div>
</body>
</html>

