<!doctype html>
<html>
  <head>
    <% include ../partials/navbar %>
  </head>
  <body>
    <br></br>
    <br></br>
    <br></br>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->

    <div class="text-center">
      <div class="col-sm-6 well" style="word-wrap: break-word;">
	            <h1>
					User Information
				</h1>
				<ul class="list-group">
				  <li class="list-group-item"><strong>id</strong>: <%= user._id %></li>
				  <li class="list-group-item"><strong>Name</strong>: <%= user.firstName %> <%= user.lastName %></li>
				  <li class="list-group-item"><strong>Email</strong>: <%= user.email %></li>
				  <li class="list-group-item"><strong>Password</strong>: <%= user.password %></li>
				  <a class="list-group-item list-group-item-action list-group-item-warning" href="/account/changepassword">Change Password</a>
				</ul>

      </div>
		</div>

    <div class="text-center">
      <div class="col-sm-6 well">
          <h1>
            Program Information
          </h1>
		  <ul class="list-group">
			<a class="list-group-item list-group-item-action list-group-item-info" href="/classes/current" ><center>Update Classes Taken</center></a>
			<p class="list-group-item" ><strong>Major</strong>: <%= user.major %></p>
			<p class="list-group-item" ><strong>Program Length</strong>: <%= user.projLength %></p>
		  </ul>

      </div>
    </div>
	</div>
</div>
</body>
</html>
