<!doctype html>
<html>
  <head>
    <% include ../partials/navbar %>
  </head>
  <body class="main">
    <br></br>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->

    <div class="">
      <div class="col-sm-4 col-sm-offset-1 well" style="word-wrap: break-word;">
		<h1>
			User Info
		</h1>
		<ul class="list-group">
		  <li class="list-group-item ">
			<strong >id:</strong>
			<p class="pull-right"><%= user._id %></p>
		  </li>
		  <li class="list-group-item"><strong>Name:</strong>
			<p class="pull-right"><%= user.firstName %> <%= user.lastName %> </p>
		  </li>
		  <li class="list-group-item">
			<strong>Email</strong>:
			<p class="pull-right"> <%= user.email %> </p>
		  </li>
		  <a class="text-center list-group-item list-group-item-action list-group-item-warning" href="/changePassword">Change Password</a>
		</ul>

      </div>
	</div>

      <div class="col-sm-4 well col-sm-push-2">
          <h1>
            Program Info
          </h1>
		  <ul class="list-group">
			<li class="list-group-item" >
			  <strong>Major:</strong> 
			  <p class="pull-right"><%= user.major %></p>
			</li>
			<li class="list-group-item" >
			  <strong>Program Length:</strong>
			  <p class="pull-right"><%= user.progLength %> Years</p>
			</li>
			<a class="bg-primary list-group-item list-group-item-action list-group-item-info" href="/major" ><center>Change Major or Program Length</center></a>
		  </ul>

      </div>
    </div>
	</div>
</div>
</body>
</html>
